
        <div id="content_wrapper">
            <div id="about" class="borded" style="float:left;padding:15px;margin-left:30px;">
                <span class="bold_blue_large">Club Contacts</span><br/><br/>
                <table border="1" cellspacing=0 cellpadding=0>
                 <tr >
                  <th>Position</th>
                  <th>Name</th>
                  <th>Telephone</th>
                  <th>Email</th>
                 </tr>
                 <tr>
                  <td>Chairman</td>
                  <td>Derrick Pearson</td>
                  <td>H &#45; 0845 4735845  <br/>M &#45; 07850 304631
                  </td>
                  <td>derrick.pearson@lloydsbanking.com</td>
                 </tr>
                 <tr>
                  <td>Vice Chairman</td>
                  <td>Mike Burchett</td>
                  <td>H &#45; 01268 411039<br/>M &#45; 07748 802183</td>
                  <td>mikeburchett@hotmail.co.uk</td>
                 </tr>
                 <tr>
                  <td>Treasurer</td>
                  <td>Jonathan Howe</td>
                  <td>H &#45; 01277 222086<br/>M &#45; 07970 474343</td>
                  <td>jonathan.howe@yahoo.co.uk</td>
                 </tr>
                 <tr>
                  <td>General Club Secretary</td>
                  <td>Graeme Dale</td>
                  <td>H &#45; 01268-783219<br/>M &#45; 07805 955937</td>
                  <td>secretary@forestgladefc.com<br/></td>
                 </tr>
                 <tr>
                  <td>Secretary &#45; Mini Soccer (S.E.Essex Mini League)</td>
                  <td>Darren Crowley</td>
                  <td>H &#45; 01268 410995<br/>M &#45; 07890 576950</td>
                  <td>seepmsl@forestgladefc.com</td>
                 </tr>
                 <tr>
                  <td>Secretary#1 &#45; Youth Soccer  (Southend League)</td>
                  <td>Jason Smith</td>
                  <td>H &#45; 01268 490636<br/>M &#45; 07772 509307</td>
                  <td>fgsec_sdjsfl@btinternet.com</td>
                 </tr>
                 <tr>
                  <td>Secretary#2 &#45; Youth Soccer
                  (Chelmsford League)</td>
                 <td>Darren Crowley</td>
                 <td>H &#45; 01268 410995<br/>M &#45; 07890 576950</td>
                 <td>seepmsl@forestgladefc.com</td>
                 </tr>
                 <tr>
                  <td>Secretary#3 &#45; Youth Soccer
                  (Thundermite League)</td>
                 <td>Graham Hopgood</td>
                 <td>H &#45; 01268 454960<br/>M &#45; 07847 943407</td>
                 <td>ghba16854@blueyonder.co.uk</td>
                 </tr>
                 <tr>
                  <td>Secretary &#45; Seniors (Essex Olympian League)</td>
                  <td>Lee Ashley</td>
                  <td>H &#45; 01277 815090 <br/>M &#45;</td>
                  <td>jim@callahansltd.com</td>
                 </tr>
                 <tr>
                  <td>Forest Glade Redbacks</td>
                  <td>Bill Sedgwick</td>
                  <td>H &#45; 01268 540934<br/>M &#45; 07759 544940</td>
                  <td>bill@sedgwick133.freeserve.co.uk</td>
                 </tr>
                 <tr>
                  <td>Club Welfare Officer</td>
                  <td>Julia Warrior</td>
                  <td>H &#45; 01268 710476<br/>M &#45; </td>
                  <td>jwarrior@onetel.com</td>
                 </tr>
                 <tr>
                  <td>Merchandise/Kit Manager</td>
                  <td>Julie Dresou</td>
                  <td>H &#45; 01268 768355<br/>&nbsp;</td>
                  <td>jdresou@sky.com</td>
                 </tr>
                 <tr>
                  <td>Communications &amp; Website Manager</td>
                  <td>Rob Howe</td>
                  <td>H &#45; 01277 654553<br/>M &#45; 07702 505205</td>
                  <td>robert.howe@gmail.com</td>
                 </tr>
                 <tr>
                  <td>Coaching Development Manager</td>
                  <td>Ian Turner</td>
                  <td>H &#45; 01268 493905<br/>M &#45; 07805 231147</td>
                  <td>developmentmanager.fgfc@googlemail.com</td>
                 </tr>
                 <tr>
                  <td>Funding &amp; Sponsorship Manager</td>
                  <td>Simon Like</td>
                  <td>H &#45; 01277 631709<br/>M &#45; 07977 060855</td>
                  <td>simonlike@mdbarnard.com</td>
                 </tr>
                 <tr>
                  <td>School Liaison Officer</td>
                  <td>Ian Turner</td>
                  <td>H &#45; 01268 493905<br/>M &#45; 07805 231147</td>
                  <td>ian.turner@uk.transport.bombardier.com</td>
                 </tr>
                 <tr>
                  <td>Girls/Ladies Development Manager</td>
                  <td>Laura Benstead</td>
                  <td>H &#45; 01268 473727<br/>M &#45; </td>
                  <td>laurajb@blueyonder.co.uk<br/></td>
                 </tr>
                 <tr>
                  <td>Facilities Manager #1</td>
                  <td>Paul Dresou</td>
                  <td>H &#45; 01268 768355<br/>M &#45; 07788 568835</td>
                  <td>Paul.dresou@gbmjv.co.uk</td>
                 </tr>
                 <tr>
                  <td>Events Manager #1</td>
                  <td>Jason Smith</td>
                  <td>H &#45; 01268 490636<br/>M &#45; 07772 509307</td>
                  <td>fgsec_sdjsfl@btinternet.com</td>
                 </tr>
                 <tr>
                  <td>Volunteer Coordinator</td>
                     <td>Jason Smith</td>
                     <td>H &#45; 01268 490636<br/>M &#45; 07772 509307</td>
                     <td>fgsec_sdjsfl@btinternet.com</td>
                 </tr>
                </table>

            </div>

        </div>
