            <div class="column grid_3">

                <div style="margin-top:70px;">
                    <span class=bold_blue>&nbsp;&nbsp;We have...</span>
                    <ul>
                    <li><span class="bold_blue_small">Qualified Coaches</span></li>
                        <p>All our coaches are qualified by the FA, have CRB checks and First Aid trained.</p>
                    <li><span class="bold_blue_small">Coaching / Training Sessions</span></li>
                    <p>Our sessions are fun and active and enjoyable, everyone takes part and included at a level where they feel comfortable.
                    They are a great way to make new friends and build confidence and social skills and of course a good form of exercise.
                    </p>
                    <li><span class="bold_blue_small">Development</span></li>
                    <p>We aim to develop players in accordance with the FA 4 Corners approach where each player is an individual and coached individually.</p>
                    </ul>
                </div>
            </div>
            <div class="column grid_8">
                <div class="bold_blue_large">Girl Players Wanted</div>
                <br/>
                <div class="bold_blue_small">We currently have Under 10's and Under 12's Girls teams and are looking for new players of all levels to come along to find out more about the opportunities to play football at Forest Glade.</div>
                <br/>
                <div class="bold_blue_small">We are looking to develop more teams of different ages in the Girl's Section and welcome enquires from all players whether they are regular players or beginners, even if you have never played football before, there is the opportunity to come along to our coaching sessions free of charge to try it out. Why not bring a friend along and try it together.</div>
                <br/>
                <div class="bold_blue_small">Forest Glade FC are looking to recruit players for their current Under 12's Girls Football team . The team trains on Saturday Mornings at the Grounds at Barleylands, Billericay from 9.30-11am. We also play league games on Saturday Mornings.</div>
                <br/>
                <div class="bold_blue_small">We have all the facilities on site including a kiosk on site for drinks and snacks and in particular teas, coffees and bacon sandwiches for parents on match day mornings.</div>
                <br/>
                <div class="bold_blue_small">We are a friendly family orientated club and look forward to welcoming you to Forest Glade.</div>
                <br/>
                <div class="bold_blue_small">For further details please contact Darren on the details below.</div>
                <div class="bold_red_small" style="text-align: center;margin-top: 20px;color: red;font-weight: bold;">
                    Darren Chaplin<br/><br/>
                    Forest Glade FC Girl's Under 12 Coach<br/><br/>
                    Girl's / Women's Football Development Officer<br/><br/>
                    Tel: (07534) 823947 or 01268 421831<br/><br/>
                    email: darren.chaplin1@sky.com
                </div>
            </div>
            <div class="column grid_5">
                <div><img class="photo" style="width:280px;height: 200px;" src="../images/girls_fest1.png" alt=""/></div>
                <div><img class="photo" style="width:280px;height: 200px;" src="../images/girls_fest2.png" alt=""/></div>
                <div><img class="photo" style="width:280px;height: 200px;" src="../images/girls_fest3.png" alt=""/></div>
            </div>
        </div>
