        <div id="content_wrapper">
            <br/>
            <span style="margin:15px;" class="bold_blue_large" >Essex FA Girls Football Festival - 18th September 2010</span><br/><br/>
            <div id="right" style="float:right;">
                <div><img class="photo" src="../images/girls_fest1.png" alt=""/></div>
                <div><img class="photo" src="../images/girls_fest2.png" alt=""/></div>
                <div><img class="photo" src="../images/girls_fest3.png" alt=""/></div>
            </div>
            <div id="about" style="float:left;width:48%;padding-left:15px;padding-top:15px;">


                <p>
                    On a sunny autumn morning Forest Glade Football Club hosted a girls 4x4 football festival at Barleylands that was superbly organised
                    by the Essex County Girls Football League on behalf of Under 9s and Under 10s.
                </p>

                <p>
                    There were some 100 girls taking part with teams entering from as far apart as the Colchester area
                    to Harold Hill.
                </p>
                <p>
                    4 x 4 matches are on pitches about 30 yards by 20 yards with small pug goals and
                    no goalkeepers that encourages lots of touches of the ball and player movement to assist development.
                </p>

                <p>
                    It was good to see girls of all abilities from the beginners to girls with experience in these
                    events taking part and there were no scores kept by the referee (although coaches were busy
                    jotting scores down!) and no end of parent encouragement.
                </p>
                <p>
                    The morning was a great success with no winners and no losers and at the end of the morning all
                    the girls assembled to receive a goody bag supplied by the Essex County Girls Football League.
                </p>
                <p>
                    Forest Glade Football Club and are looking to develop their girls section and can offer football
                    training to players of all abilities in school years 3 to 4.
                    <br/><br/>
                    Please contact Graeme Dale 07851 435755 for further details.
                </p>
                <br/><br/><br/>
                <div style="margin:50px;">
                Further reviews can be found at<br/>
                &nbsp;&nbsp;&nbsp;<a href="javascript:largePopUp('http://www.shekicks.net/news/view/1733');"><img src="../images/she-kicks.png" alt="she kicks"></a>
                </div>
            </div>

        </div>
