<div class="column grid_8">
    <div id="examples" class="tabContent">

        <div class="bold_blue_large">Season 2012/13<br/></div>
        <div id="samples">

            <!--<div id="headlines">-->
            <span class="bold_blue_large">Club Headlines</span>
            <!--</div>-->
            <div id="news" class="sampleTabContent">
                <div class="news-item">
                    <p class="news-heading">Under 9 Tigers - Goal Keeper Urgently Required</p>
                    <p>
                    Must be of good experience and a team player.
                    </p>
                    <p>
                    You would be joining a fun, enthusiastic and
                    hard working team with a good<br/> group of boys.
                    </p>
                    <p>
                    FA level 1 accredited coaches.
                    </p>
                    <p>
                    If you are interested in joining us in a training
                    session on <br/>Saturday mornings 09:30 - 10:30
                    please contact Robbie Williams on 07824 636934
                    </p>
                    <p class="small-text-right">Posted 04 Dec 2012</p>
                </div>
                <div class="news-item">
                    <p class="news-heading">Under 13 - Players Wanted</p>

                    <p>Forest Glade FC U13, are seeking players moving into year 8 in September</p>

                    <p>They are looking for experienced players to boost their squads.</p>

                    <p>Please contact Darren on 07890 576950 or email seepmsl@forestgladefc.com</p>

                    <p class="small-text-right">Posted 14 July 2012</p>
                </div>
                <div class="news-item">
                    <p class="news-heading">Under 10 Lions - Players Wanted</p>

                    <p>The U10 Lions team are seeking a new goalkeeper for the 2012-2013 season.</p>

                    <p>Player must be have their 10th birthday between 1st Sep 2012 – 31st August 2013.</p>

                    <p>The team play in Division 2 of South East Essex Mini Soccer League, so some experience would be
                        desired as the team plays at a reasonable level.</p>

                    <p>If you are interested please contact on Mike Burchett on 07748 802183</p>

                    <p class="small-text-right">Posted 20 June 2012</p>
                </div>
                <div class="news-item">
                    <p class="news-heading">Under 13 Reds (September 2012) - Players Wanted</p>

                    <p>Players wanted for the upcoming season as under 13 Reds.</p>

                    <p>Playing in division C of the Southend & District Junior Sunday League, players needed are a
                        goalkeeper, 3 defenders and a midfielder.</p>

                    <p>This advert is for children currently in year 7 who will move to year 8 in September.</p>

                    <p>If you are interested please contact on Jason Smith 07772 509307 or e-mail
                        fgsec_sdjsfl@btinternet.com</p>

                    <p class="small-text-right">Posted 11 June 2012</p>
                </div>
                <div class="news-item">
                    <p class="news-heading">U10 Leopards - players wanted</p>

                    <p>This is for the current U10 Leopards team who are moving to 9 a side in September.</p>

                    <p>We are seeking players especially a goal keeper to add to our current team as we make
                        the move from 7 to 9 aside.</p>

                    <p>This advert is for children currently in year 5 who will move to year 6 in September.</p>

                    <p>If you are interested please call Hugo on 01268 928397 or 07713 135328.</p>

                    <p class="small-text-right">Posted 02 June 2012</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bold_blue" style="text-align: center;">
        &nbsp;
        <!--We're looking for girls interested in playing football-->
        <!--<img class="photo" src="/images/girls_fest1.png" alt=""/>-->
    </div>
    <a href="/pages/girls_wanted" title="click here for more information...">
        <div class="bold_blue" style="text-align: center;margin-left:35px;margin-bottom:15px;border-radius:5px;border: 3px blue solid;width:400px;height:299px;background-image: url(images/girls_fest1.png);background-repeat:no-repeat;">
            <br/>
            <span style="color:#cc0000;font-size:30px;padding-left:10px;">Girls Football Opportunities</span>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <span style="color:yellow;font-size:30px;padding-left:16px;">Players Wanted</span>
        </div>
    </a>
</div>
<div class="column grid_5">
    <div class="bold_blue" style="text-align:left;margin-top:10px;">Welcome</div>
    <div id="welcome-div">
        <span class="bold_blue_small">Forest Glade Youth Football Club.</span>

        <p>
            Forest Glade FC is a <a style="color:black;"
                                    href="javascript:largePopUp('http://www.thefa.com/GetIntoFootball/CharterStandard/Club/FACommunityClubs')">Football
            Association Charter Standard Community</a> youth football club.
        </p>
        <a href="javascript:largePopUp('http://www.thefa.com/GetIntoFootball/CharterStandard/Club/FACommunityClubs')">
            <div style="background-color:#000066;border: 2px solid #000066;border-radius:25px;">
                <img style="margin-left:100px;height:120px;" src="/images/FA-CS.png" title="FA Charter Standard Community Club" alt="charter standard community club"/>
            </div>
        </a>
            <span class="bold_blue_small">
            For the 2012/2013 season we have:
            <ul>
                <li>10 Mini-Soccer Teams</li>
                <li>14 Youth football teams</li>
                <li>2 Girls teams</li>
                <li>1 Senior team</li>
            </ul>
            </span>

        <p>Our teams play in the<br/>
            <a href="javascript:largePopUp('http://www.ourkidssports.com/Leagues/profile/id/21')"><span class="bold_blue_small" style="text-decoration: underline;">South East Essex Primary League,</span></a><br/>
            <a href="javascript:largePopUp('http://fulltime.thefa.com/ProcessPublicSelect.do?psSelectedSeason=1079422&psSelectedDivision=7786498&psSelectedCompetition=0&psSelectedLeague=5770629')"><span class="bold_blue_small" style="text-decoration: underline;">Southend & District Junior Sunday League</span></a>
            and
            <a href="javascript:largePopUp('http://www.cyfl.org.uk/')"><span class="bold_blue_small" style="text-decoration: underline;">Chelmsford Youth Football League</span></a>
        </p>

        <p>Our senior teams play in the<br/>
            <a href="javascript:largePopUp('http://www.webteams.co.uk/Home.aspx?team=forestgladefc')"><span class="bold_blue_small" style=" text-decoration: underline;">Essex Olympian League</span></a>
            and the <br/>
            <a href="javascript:largePopUp('http://www.football.mitoo.co.uk/LeagueTab.cfm?TblName=Matches&DivisionID=16028&LeagueCode=EBHFL2011')"><span class="bold_blue_small" style="text-decoration: underline;">Essex Business Houses Football League.</span></a>
        </p>

        <p>Our facilities include, two mini-scoccer pitches and four 11-a-side pitches on 15 acres of land at
            Barleylands, Billericay.</p>

    </div>
    <div style="text-align:center;">
        <a href="javascript:largePopUp('http://www.thefa.com/yourgame')"><img style="margin-top:40px;" src="/images/fa_yourgame.png" alt=""/></a>
    </div>

</div>

</div>
