<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Forest Glade Football Club</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/960_16_3_3.css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/css/fgfc.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/team_menu.css" />
<script type='text/javascript' src='script/jquery-1.4.2.min.js'></script>
<script type='text/javascript' src='script/fgfc.js'></script>
</head>
<body>
<div class="container_16">
<div class="row" style="background-color: transparent;">
    <div id="header-X">
        <div id="Xslogan"><img src="/images/Header-Alternative.png" alt="banner"/>
        </div>
    </div>
</div>
<div class="row" style="background-color: transparent;border-radius: 0px;">
    <div id=fgfc_menu>
        <ul id="nav" style="margin-left:90px;">
        <li><a href="index">Home</a></li>
        <li><a href="">Documents <img src="/images/more-down-arrow.png" alt="more"/></a>
        <ul>
        <li><a href="javascript:largePopUp('/docs//FGFCClubConstitution.pdf')">Club Constitution</a>
        </li>
        <li><a href="javascript:largePopUp('/docs//FGFC Safeguarding.pdf')">Safegaurding Children</a>
        </li>
        <li><a href="javascript:largePopUp('/docs//FGFC Anti-Bullying.pdf')">Anti-Bullying</a></li>
        <li><a href="javascript:largePopUp('/docs//FGFC Equality Policy.pdf')">Equality Policy</a></li>
        </ul>
        </li>
        <li><a href="/pages/honours">Club Honours</a></li>
        <li><a href="/pages/find_us">Find Us</a></li>
        <li><a href="/pages/contacts">Contact Us</a></li>
        <li><a href="/pages/history">History</a></li>
        </ul>
    </div>
    <!--menu end-->
</div>
<div class="row">
    <div class="column grid_16">
        <div id="top_frame">
          <a href="http://www.theFG5s.co.uk"><img src="/images/fg5s-home-logo.png" alt="Forest Glade 5's click here for more information" title="Forest Glade 5's click here for more information"  style="margin-left:14px;margin-right:13px;margin-bottom:10px;"/></a>
          <!--<img src="/images/fg5s-logo.png" alt="banner" />-->
          <!--<img src="/images/fg5s-logo-light.png" alt="banner"/>-->
          <img src="/images/WebHome5.png" alt="banner"/>
          <img src="/images/WebHome1.png" alt="banner"/>
          <img src="/images/WebHome6.png" alt="banner"/>
          <img src="/images/WebHome4.png" alt="banner"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="column grid_3">
        <div id="teams_menu">
            <span class="bold_blue_large">Teams<br/></span>
            <span class="bold_blue">Boys</span>
            <a class="menu_item" href="./pages/u5"><span>&nbsp;</span>U5 Football Fun</a>
            <a class="menu_item" href="./pages/u7lions"><span>&nbsp;</span>Under 7</a>
            <a class="sub_menu_header"><span>&nbsp;</span>Under 8</a>
            <div class="sub_menu">
                <ul>
                    <li><a class="menu_item" href="./pages/u8lions"><span>&nbsp;</span><div>Lions</div></a></li>
                    <li><a class="menu_item" href="./pages/u8tigers"><span>&nbsp;</span><div>Tigers</div></a></li>
                </ul>
            </div>
            <a class="sub_menu_header"><span>&nbsp;</span>Under 9</a>
            <div class="sub_menu">
                <ul>
                    <li><a class="menu_item" href="./pages/u9lions"><span>&nbsp;</span><div>Lions</div></a></li>
                    <li><a class="menu_item" href="./pages/u9tigers"><span>&nbsp;</span><div>Tigers</div></a></li>
                    <li><a class="menu_item" href="./pages/u9leopards"><span>&nbsp;</span><div>Leopards</div></a></li>
                    <li><a class="menu_item" href="./pages/u9pumas"><span>&nbsp;</span><div>Pumas</div></a></li>
                </ul>
            </div>
            <a class="sub_menu_header"><span>&nbsp;</span>Under 10</a>
            <div class="sub_menu">
                <ul>
                    <li><a class="menu_item" href="./pages/u10lions"><span>&nbsp;</span><div>Lions</div></a></li>
                    <li><a class="menu_item" href="./pages/u10tigers"><span>&nbsp;</span><div>Tigers</div></a></li>
                    <li><a class="menu_item" href="./pages/u10leopards"><span>&nbsp;</span><div>Leopards</div></a></li>
                </ul>
            </div>
            <a class="sub_menu_header"><span>&nbsp;</span>Under 11</a>
            <div class="sub_menu">
                <ul>
                    <li><a class="menu_item" href="./pages/u11lions"><span>&nbsp;</span><div>Lions</div></a></li>
                    <li><a class="menu_item" href="./pages/u11tigers"><span>&nbsp;</span><div>Tigers</div></a></li>
                    <li><a class="menu_item" href="./pages/u11leopards"><span>&nbsp;</span><div>Leopards</div></a></li>
                </ul>
            </div>
            <a class="menu_item" href="./pages/u12blue"><span>&nbsp;</span>Under 12</a>
            <a class="sub_menu_header"><span>&nbsp;</span>Under 13</a>
            <div class="sub_menu">
                <ul>
                    <li><a class="menu_item" href="./pages/u13blue"><span>&nbsp;</span><div>Blue</div></a></li>
                    <li><a class="menu_item" href="./pages/u13white"><span>&nbsp;</span><div>White</div></a></li>
                    <li><a class="menu_item" href="./pages/u13red"><span>&nbsp;</span><div>Red</div></a></li>
                </ul>
            </div>
            <a class="sub_menu_header"><span>&nbsp;</span>Under 14</a>
            <div class="sub_menu">
                <ul>
                    <li><a class="menu_item" href="./pages/u14blue"><span>&nbsp;</span><div>Blue</div></a></li>
                    <li><a class="menu_item" href="pages/u14white"><span>&nbsp;</span><div>White</div></a></li>
                </ul>
            </div>
            <a class="menu_item" href="./pages/u15white"><span>&nbsp;</span>Under 15</a>
            <a class="sub_menu_header"><span>&nbsp;</span>Under 16</a>
            <div class="sub_menu">
                <ul>
                    <li><a class="menu_item" href="./pages/u16blue"><span>&nbsp;</span><div>Blue</div></a></li>
                    <li><a class="menu_item" href="./pages/u16white"><span>&nbsp;</span><div>White</div></a></li>
                    <li><a class="menu_item" href="./pages/u16red"><span>&nbsp;</span><div>Red</div></a></li>
                </ul>
            </div>
            <a class="sub_menu_header"><span>&nbsp;</span>Under 18</a>
            <div class="sub_menu">
                <ul>
                    <li><a class="menu_item" href="./pages/u18blue"><span>&nbsp;</span><div>Blue</div></a></li>
                </ul>
            </div>
            <span class="bold_blue">Girls</span>
            <a class="menu_item" href="./pages/u10girls"><span>&nbsp;</span><div>U10</div></a>
            <a class="menu_item" href="./pages/u13girls"><span>&nbsp;</span><div>U13</div></a>

            <span class="bold_blue">Seniors</span>
            <a class="menu_item" href="./pages/seniors"><span>&nbsp;</span><div>Olympian</div></a>

            <span class="bold_blue">Baseball</span>
            <a class="menu_item" href="./pages/redbacks"><span>&nbsp;</span>Bronco's</a>
            <a class="menu_item" href="./pages/redbacks-pony"><span>&nbsp;</span>Pony's</a>
        </div>

        <div style="text-align:center;">
            <a href="/pages/redbacks"><img style="margin-top:40px;" src="/images/fgfc_redbacks.png" alt=""/></a>
        </div>

    </div>
    <div class="column grid_8">
        <div id="examples" class="tabContent">

            <div class="bold_blue_large">Season 2012/13<br/></div>
            <div id="samples">

                <!--<div id="headlines">-->
                <span class="bold_blue_large">Club Headlines</span>
                <!--</div>-->
                <div id="news" class="sampleTabContent">
                    <div class="news-item">
                        <p class="news-heading_red">CHARITY football game for Reece Walker (aged 3) - 7th October</p>
                        <p><span class="bold_blue">Reece Needs Your Help to Walk</span></p>
                        <p>Bowers & Pitsea wil be hosting a charity football match against Tottenham
                        Legends on Sunday 7th October 2012 at the Len Salmon Stadium 2pm , Crown
                        Avenue, Pitsea, Essex, SS13 2BE</p>
                        <p>The charity game is for Reece Walker. Reece is 3 years old and has spastic
                        diplegic Cerebral Palsy. One of the symptoms that affect Reece is that it
causes tightness in his legs, so he is unable stand or to walk
independently. They are hoping to raise money to send him to the USA for an operation.
                        <p><a style="color: blue;" href="http://www.pitchero.com/clubs/bowerspitseafootballclub/news/reece-walker-670374">Please click here for more details...</a></p>
                        <p class="small-text-right">Posted 2 Oct 2012</p>
                    </div>
                    <div class="news-item">
                        <p class="news-heading">Under 13 - Players Wanted</p>
                        <p>Forest Glade FC U13, are seeking players moving into year 8 in September</p>
                        <p>They are looking for experienced players to boost their squads.</p>
                        <p>Please contact Darren on 07890 576950 or email seepmsl@forestgladefc.com</p>
                        <p class="small-text-right">Posted 14 July 2012</p>
                    </div>
                    <div class="news-item">
                        <p class="news-heading">Under 10 Lions - Players Wanted</p>
                        <p>The U10 Lions team are seeking a new goalkeeper for the 2012-2013 season.</p>
                        <p>Player must be have their 10th birthday between 1st Sep 2012 – 31st August 2013.</p>
                        <p>The team play in Division 2 of South East Essex Mini Soccer League, so some experience would be desired as the team plays at a reasonable level.</p>
                        <p>If you are interested please contact on Mike Burchett on 07748 802183</p>
                        <p class="small-text-right">Posted 20 June 2012</p>
                    </div>
                    <div class="news-item">
                        <p class="news-heading">Under 13 Reds (September 2012) - Players Wanted</p>
                        <p>Players wanted for the upcoming season as under 13 Reds.</p>
                        <p>Playing in division C of the Southend & District Junior Sunday League, players needed are a goalkeeper, 3 defenders and a midfielder.</p>
                        <p>This advert is for children currently in year 7 who will move to year 8 in September.</p>
                        <p>If you are interested please contact on Jason Smith 07772 509307 or e-mail fgsec_sdjsfl@btinternet.com</p>
                        <p class="small-text-right">Posted 11 June 2012</p>
                    </div>
                    <div class="news-item">
                        <p class="news-heading">U10 Leopards - players wanted</p>
                        <p>This is for the current U10 Leopards team who are moving to 9 a side in September.</p>
                        <p>We are seeking players especially a goal keeper to add to our current team as we make
                        the move from 7 to 9 aside.</p>
                        <p>This advert is for children currently in year 5 who will move to year 6 in September.</p>
                        <p>If you are interested please call Hugo on 01268 928397 or 07713 135328.</p>
                        <p class="small-text-right">Posted 02 June 2012</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bold_blue" style="text-align: center;">
            &nbsp;
            <!--We're looking for girls interested in playing football-->
            <!--<img class="photo" src="/images/girls_fest1.png" alt=""/>-->
        </div>
        <a href="/pages/girls_wanted" title="click here for more information...">
        <div class="bold_blue" style="text-align: center;margin-left:35px;margin-bottom:15px;border-radius:5px;border: 3px blue solid;width:400px;height:299px;background-image: url(images/girls_fest1.png);background-repeat:no-repeat;">
            <br/>
            <span style="color:#cc0000;font-size:30px;padding-left:10px;">Girls Football Opportunities</span>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <span style="color:yellow;font-size:30px;padding-left:16px;">Players Wanted</span>
        </div>
        </a>
    </div>
    <div class="column grid_5">
        <div class="bold_blue" style="text-align:left;margin-top:10px;">Welcome</div>
        <div id="welcome-div">
            <span class="bold_blue_small">Forest Glade Youth Football Club.</span>
            <p>
                Forest Glade FC is a <a style="color:black;"
                                        href="javascript:largePopUp('http://www.thefa.com/GetIntoFootball/CharterStandard/Club/FACommunityClubs')">Football
                Association Charter Standard Community</a> youth football club.
            </p>
            <a href="javascript:largePopUp('http://www.thefa.com/GetIntoFootball/CharterStandard/Club/FACommunityClubs')">
            <div style="background-color:#000066;border: 2px solid #000066;border-radius:25px;"><img style="margin-left:100px;height:120px;" src="/images/FA-CS.png" title="FA Charter Standard Community Club" alt="charter standard community club"/></div>
             </a>
            <span class="bold_blue_small">
            For the 2012/2013 season we have:
            <ul>
                <li>10 Mini-Soccer Teams</li>
                <li>14 Youth football teams</li>
                <li>2 Girls teams</li>
                <li>1 Senior team</li>
            </ul>
            </span>

            <p>Our teams play in the<br/>
                <a href="javascript:largePopUp('http://www.ourkidssports.com/Leagues/profile/id/21')"><span class="bold_blue_small" style="text-decoration: underline;">South East Essex Primary League,</span></a><br/>
                <a href="javascript:largePopUp('http://fulltime.thefa.com/ProcessPublicSelect.do?psSelectedSeason=1079422&psSelectedDivision=7786498&psSelectedCompetition=0&psSelectedLeague=5770629')"><span class="bold_blue_small" style="text-decoration: underline;">Southend & District Junior Sunday League</span></a> and
                <a href="javascript:largePopUp('http://www.cyfl.org.uk/')"><span class="bold_blue_small" style="text-decoration: underline;">Chelmsford Youth Football League</span></a>
            </p>

            <p>Our senior teams play in the<br/>
                <a href="javascript:largePopUp('http://www.webteams.co.uk/Home.aspx?team=forestgladefc')"><span class="bold_blue_small" style=" text-decoration: underline;">Essex Olympian League</span></a> and the <br/>
                <a href="javascript:largePopUp('http://www.football.mitoo.co.uk/LeagueTab.cfm?TblName=Matches&DivisionID=16028&LeagueCode=EBHFL2011')"><span class="bold_blue_small" style="text-decoration: underline;">Essex Business Houses Football League.</span></a>
            </p>

            <p>Our facilities include, two mini-scoccer pitches and four 11-a-side pitches on 15 acres of land at
                Barleylands, Billericay.</p>

        </div>
        <div style="text-align:center;">
            <a href="javascript:largePopUp('http://www.thefa.com/yourgame')"><img style="margin-top:40px;" src="/images/fa_yourgame.png" alt=""/></a>
        </div>

    </div>

</div>
<div class="row" style="background-color: transparent;border: 0px;">
  <div id="footer" class="column grid_16">&copy;2011/12 Forest Glade Football Club</div>
</div>
</div>
</body>
</html>