<div class="column grid_8">
    <div id="examples" class="tabContent">

        <div class="bold_blue_large">Season 2012/13<br/></div>
        <div id="samples">
            <!--<div id="headlines">-->
            <span class="bold_blue_large">Club Headlines</span>
            <!--</div>-->
            <div id="news" class="sampleTabContent">
                <div class="news-item">
                    <p class="news-heading">U14 Blue (for season 2013/2014) - Players Wanted</p>
                    <p>
                        U14 Blue (for season 2013/2014), who currently play in the
                        Premier Division of the Southend & District Junior Sunday League are
                        looking for a couple of experienced outfield players to join their squad
                        for next season (players will be going into school year 9 in September
                        2013).
                    </p>
                    <p>
                        If interested please contact Darren on 07890 576950 or email seepmsl.forestgladefc.com
                    </p>

                    <p class="small-text-right">Posted 16 Apr 2013</p>
                </div>
                <div class="news-item">
                    <p class="news-heading">Under 10 Tigers - Players Wanted</p>
                    <p>
                        Forest Glade Tigers U10's are looking for 2 new defenders for the up and coming 2013/14 season, where we move up to U11's and play 9 aside.
                    </p>
                    <p>
                        If you are interested please contact Chris on 07941251807 or email me on ctaylor1001@hotmail.co.uk
                    </p>

                    <p class="small-text-right">Posted 20 Mar 2013</p>
                </div>
                <div class="news-item">
                    <p class="news-heading_red">Forest Glade Fives - 2013</p>

                    <p>The Forest Glade Fives will take place on the weekend of 25th & 26th May.</p>

                    <p>Visit
                        <a href="http://www.thefg5s.co.uk"><span class="bold_blue_small">www.theFG5s.co.uk</span></a>
                        for more information or to register your team.
                    </p>

                    <p class="small-text-right">Posted 20 Jan 2013</p>
                </div>

                <div class="news-item">
                    <p class="news-heading">Under 13 Girls - Players Wanted</p>

                    <p>
                        The U13 Girls team are looking for new players to extend the team.
                    </p>

                    <p>
                        If you are interested please contact Laura Benstead on 07817542812<br/>
                        or email laurajb@blueyonder.co.uk
                    </p>

                    <p class="small-text-right">Posted 04 Dec 2012</p>
                </div>
                <div class="news-item">
                    <p class="news-heading">Under 9 Tigers - Goal Keeper Urgently Required</p>

                    <p>
                        Must be of good experience and a team player.
                    </p>

                    <p>
                        You would be joining a fun, enthusiastic and
                        hard working team with a good<br/> group of boys.
                    </p>

                    <p>
                        FA level 1 accredited coaches.
                    </p>

                    <p>
                        If you are interested in joining us in a training
                        session on <br/>Saturday mornings 09:30 - 10:30
                        please contact Robbie Williams on 07824 636934
                    </p>

                    <p class="small-text-right">Posted 04 Dec 2012</p>
                </div>
                <div class="news-item">
                    <div class="bold_blue" style="text-align: center;">
                        &nbsp;
                        <!--We're looking for girls interested in playing football-->
                        <!--<img class="photo" src="/images/girls_fest1.png" alt=""/>-->
                    </div>
                    <a href="/pages/girls_wanted" title="click here for more information...">
                        <div class="bold_blue" style="text-align: center;margin-left:35px;margin-bottom:15px;border-radius:5px;border: 3px blue solid;width:400px;height:299px;background-image: url(images/girls_fest1.png);background-repeat:no-repeat;">
                            <br/>
                            <span style="color:#cc0000;font-size:30px;padding-left:10px;">Girls Football Opportunities</span>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <span style="color:yellow;font-size:30px;padding-left:16px;">Players Wanted</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="column grid_5">
    <div class="bold_blue" style="font-size:15px;text-align:left;margin-top:10px;">Forest Glade FC in association with
    </div>
    <div style="text-align:center;">
        <a href="http://www.chelseafc.com/foundation" target="_blank"><img style="margin-top:5px;width:224px;" src="/images/Foundation-blue.jpg" alt=""/></a>
    </div>
    <div class="bold_blue" style="text-align:left;margin-top:20px;">Welcome</div>
    <div id="welcome-div">
        <p>
            Forest Glade FC is a <a style="color:black;"
                                    href="javascript:largePopUp('http://www.thefa.com/GetIntoFootball/CharterStandard/Club/FACommunityClubs')">Football
            Association Charter Standard Community</a> youth football club.
        </p>
        <a href="javascript:largePopUp('http://www.thefa.com/GetIntoFootball/CharterStandard/Club/FACommunityClubs')">
            <div style="background-color:#000066;border: 2px solid #000066;border-radius:25px;">
                <img style="margin-left:100px;height:120px;" src="/images/FA-CS.png" title="FA Charter Standard Community Club" alt="charter standard community club"/>
            </div>
        </a>
            <span class="bold_blue_small">
            For the 2012/2013 season we have:
            <ul>
                <li>10 Mini-Soccer Teams</li>
                <li>14 Youth football teams</li>
                <li>2 Girls teams</li>
            </ul>
            </span>

        <p>Our teams play in the<br/>
            <a href="javascript:largePopUp('http://www.ourkidssports.com/Leagues/profile/id/21')"><span class="bold_blue_small" style="text-decoration: underline;">South East Essex Primary League,</span></a><br/>
            <a href="javascript:largePopUp('http://fulltime.thefa.com/ProcessPublicSelect.do?psSelectedSeason=1079422&psSelectedDivision=7786498&psSelectedCompetition=0&psSelectedLeague=5770629')"><span class="bold_blue_small" style="text-decoration: underline;">Southend & District Junior Sunday League</span></a>
            and
            <a href="javascript:largePopUp('http://www.cyfl.org.uk/')"><span class="bold_blue_small" style="text-decoration: underline;">Chelmsford Youth Football League</span></a>
        </p>

        <p>Our facilities include, two mini-scoccer pitches and four 11-a-side pitches on 15 acres of land at
            Barleylands, Billericay.</p>

    </div>
    <div style="text-align:center;">
        <a href="javascript:largePopUp('http://www.thefa.com/yourgame')"><img style="margin-top:40px;" src="/images/fa_yourgame.png" alt=""/></a>
    </div>

</div>

</div>
