<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Forest Glade Football Club</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/css/fgfc.css" rel="stylesheet" type="text/css"/>
    <script type='text/javascript' src='../script/jquery-1.4.2.min.js'></script>
    <script type='text/javascript' src='../script/fgfc.js'></script>

</head>
<body>
<div id="body_container">
<div class="row" style="background-color: transparent;">
    <div id="header-X">
        <div id="Xslogan"><img src="../images/Header-Alternative.png" alt="banner"/>
        </div>
    </div>
</div>
<div class="row" style="background-color: transparent;border-radius: 0px;">
    <div id=fgfc_menu>
        <ul id="nav" style="margin-left:90px;">
        <li><a href="/">Home</a></li>
        <li><a href="">Documents <img src="../images/more-down-arrow.png" alt="more"/></a>
        <ul>
        <li><a href="javascript:largePopUp('/docs//FGFCClubConstitution.pdf')">Club Constitution</a>
        </li>
        <li><a href="javascript:largePopUp('/docs//FGFC Safeguarding.pdf')">Safegaurding Children</a>
        </li>
        <li><a href="javascript:largePopUp('/docs//FGFC Anti-Bullying.pdf')">Anti-Bullying</a></li>
        <li><a href="javascript:largePopUp('/docs//FGFC Equality Policy.pdf')">Equality Policy</a></li>
        </ul>
        </li>
        <li><a href="honours.html">Club Honours</a></li>
        <li><a href="find_us.html">Find Us</a></li>
        <li><a href="contacts.html">Contact Us</a></li>
        <li><a href="history.html">History</a></li>
        </ul>
    </div>
    <!--menu end-->
</div>

    <div id="content_wrapper">
        <div style="float:left;width:100%;">
            <div id="banner" style="float:right;">
                <img class="banner" src="../images/fgfc_banner.png" alt=""/>
            </div>
            <div style="float:left;padding:10px;">

                <div>
                    <span class="bold_blue_large">Club Honours</span><br/><br/>

                    <p>
                    Here are a list of the club's successes and awards.
                    </p>

                    <p>
                    If you are aware of any other league successes or awards that are not
                    listed, please email them to<br/> the club secretary
                    so that they can be collated.
                    </p>
                </div>

            </div>
        </div>
        <div>
        <div style="float:left;padding:10px;">
            <span class="bold_blue">Team Honours</span><br/><br/>

            <div class="borded" style="float:left;">
                <table cellspacing="0" cellpadding="0">
                <tr>
                    <td colspan="4" class="white_background"><span class="bold_blue_small">2011-2012 Season</span></td>
                </tr>
                <tr>
                    <th>Team</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Honour</th>
                </tr>
                <tr>
                    <td>U9/U10 Girls</td>
                    <td>Essex County Girls</td>
                    <td>n/a</td>
                    <td>League Cup Runner-up</td>
                </tr>
                <tr>
                    <td>U12 Blue</td>
                    <td>Southend Junior</td>
                    <td>Premier</td>
                    <td>Division Runners Up</td>
                </tr>
                <tr>
                    <td>U12 White</td>
                    <td>Southend Junior</td>
                    <td>B</td>
                    <td>Division Winner</td>
                </tr>
                <tr>
                    <td>U12 Girls</td>
                    <td>Essex County Girls</td>
                    <td>West/London</td>
                    <td>League Cup Runner-up</td>
                </tr>
               <tr>
                    <td>U15 White</td>
                    <td>Southend Junior</td>
                    <td>B</td>
                    <td>Division Runner-up</td>
                </tr>
               <tr>
                    <td>U15 White</td>
                    <td>Southend Junior</td>
                    <td>B</td>
                    <td>League Cup Runner-up</td>
                </tr>
                <tr>
                    <td>U16 Blue</td>
                    <td>Southend Junior</td>
                    <td>Premier</td>
                    <td>Division Winner</td>
                </tr>
                <tr>
                    <td>U17 Blue</td>
                    <td>Chelmsford Youth</td>
                    <td>3</td>
                    <td>Division Winner</td>
                </tr>
                <tr>
                    <td colspan="4" class="white_background"><span class="bold_blue_small">2010-2011 Season</span></td>
                </tr>
                <tr>
                    <th>Team</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Honour</th>
                </tr>
                <tr>
                    <td>U11A</td>
                    <td>Southend Junior</td>
                    <td>n/a</td>
                    <td>Southend Junior League Cup Winner</td>
                </tr>
                <tr>
                    <td>U11A</td>
                    <td>Southend Junior</td>
                    <td>Premier</td>
                    <td>Division Runners Up</td>
                </tr>
                <tr>
                    <td colspan="4" class="white_background"><span class="bold_blue_small">2009-2010 Season</span></td>
                </tr>
                <tr>
                    <th>Team</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Honour</th>
                </tr>
                <tr>
                    <td>U9 Lions</td>
                    <td>S.E.Essex Mini League</td>
                    <td>2</td>
                    <td>Division Runners Up</td>
                </tr>
                <tr>
                    <td>U10 Lions</td>
                    <td>S.E.Essex Mini League</td>
                    <td>&nbsp;</td>
                    <td>League Cup Lions Winner</td>
                </tr>
                <tr>
                    <td>U10 Lions</td>
                    <td>S.E.Essex Mini League</td>
                    <td>1</td>
                    <td>Division Runners Up</td>
                </tr>
                <tr>
                    <td>U11B</td>
                    <td>Southend Junior</td>
                    <td>B</td>
                    <td>Division Runners Up</td>
                </tr>
                <tr>
                    <td>U11C</td>
                    <td>Southend Junior</td>
                    <td>D</td>
                    <td>Division Runners Up</td>
                </tr>
                <tr>
                    <td>U12A</td>
                    <td>Southend Junior</td>
                    <td>A</td>
                    <td>Division Runners Up</td>
                </tr>
                <tr>
                    <td>U12B</td>
                    <td>Southend Junior</td>
                    <td>B</td>
                    <td>Division Winners</td>
                </tr>
                <tr>
                    <td>U13A</td>
                    <td>Southend Junior</td>
                    <td>C</td>
                    <td>Division Runners Up</td>
                </tr>
                <tr>
                    <td>U16A</td>
                    <td>Southend Junior</td>
                    <td>C</td>
                    <td>Division Runners Up</td>
                </tr>
                <tr>
                    <td>U18A</td>
                    <td>Southend Junior</td>
                    <td>Premier</td>
                    <td>Division Winners</td>
                </tr>
                <tr>
                    <td>Seniors</td>
                    <td>Mid Essex</td>
                    <td>1</td>
                    <td>Division Runners Up</td>
                </tr>
                <tr>
                    <td colspan="4" class="white_background"><span class="bold_blue_small">2008-2009 Season</span></td>
                </tr>
                <tr>
                    <th>Team</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Honour</th>
                </tr>
                <tr>
                    <td>U11 A</td>
                    <td>Southend Junior</td>
                    <td>B</td>
                    <td>Division Winner</td>
                </tr>
                <tr>
                    <td>U12 A</td>
                    <td>Southend Junior</td>
                    <td>D</td>
                    <td>Division Winner</td>
                </tr>
                <tr>
                    <td>U15</td>
                    <td>Southend Junior</td>
                    <td>D</td>
                    <td>Division runner-up</td>
                </tr>
                <tr>
                    <td colspan="4" class="white_background"><span class="bold_blue_small">2007-2008 Season</span></td>
                </tr>
                <tr>
                    <th>Team</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Honour</th>
                </tr>
                <tr>
                    <td>U8 Lions</td>
                    <td>S.E.Essex Mini League</td>
                    <td>West</td>
                    <td>Division runner-up</td>
                </tr>
                <tr>
                    <td>U9 Lions</td>
                    <td>S.E.Essex Mini
                        League
                    </td>
                    <td>1st</td>
                    <td>League Cup Lions
                        Winner
                    </td>
                </tr>
                <tr>
                    <td>U11</td>
                    <td>Southend Junior</td>
                    <td>E</td>
                    <td>Division winner</td>
                </tr>
                <tr>
                    <td colspan="4" class="white_background"><span class="bold_blue_small">2006-2007 Season</span></td>
                </tr>
                <tr>
                    <th>Team</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Honour</th>
                </tr>
                <tr>
                    <td>U8 Lions</td>
                    <td>S.E. Essex Mini
                        League
                    </td>
                    <td>West</td>
                    <td>Division
                        Winner/League Champion
                    </td>
                </tr>
                <tr>
                    <td>U11 A</td>
                    <td>Southend Junior</td>
                    <td>A</td>
                    <td>Division
                        runner-up
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="white_background"><span class="bold_blue_small">2005-2006 Season</span></td>
                </tr>
                <tr>
                    <th>Team</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Honour</th>
                </tr>
                <tr>
                    <td>U10 Red</td>
                    <td>Thundermite</td>
                    <td>Jupiter</td>
                    <td>Division Winner</td>
                </tr>
                <tr>
                    <td>Senior</td>
                    <td>Essex Business Houses</td>
                    <td>3</td>
                    <td>Division Winner</td>
                </tr>
                <tr>
                    <td colspan="4" class="white_background"><span class="bold_blue_small">2004-2005 Season</span></td>
                </tr>
                <tr>
                    <th>Team</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Honour</th>
                </tr>
                <tr>
                    <td>U9 Blue</td>
                    <td>Thundermite</td>
                    <td>n/a</td>
                    <td>League Cup South Winner</td>
                </tr>
                <tr>
                    <td>U9 Red</td>
                    <td>Thundermite</td>
                    <td>Neptune</td>
                    <td>Division Runner-Up</td>
                </tr>
                <tr>
                    <td>U9 Blue</td>
                    <td>Thundermite</td>
                    <td>Mars</td>
                    <td>Division/League Winner</td>
                </tr>
                <tr>
                    <td>U11 A</td>
                    <td>Southend Junior League</td>
                    <td>A</td>
                    <td>Division Winners</td>
                </tr>
                <tr>
                    <td>Senior</td>
                    <td>Essex Business Houses</td>
                    <td>4</td>
                    <td>Division Runner-Up</td>
                </tr>
                <tr>
                    <td colspan="4" class="white_background"><span class="bold_blue_small">2003-2004 Season</span></td>
                </tr>
                <tr>
                    <th>Team</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Honour</th>
                </tr>
                <tr>
                    <td>U9 White</td>
                    <td>Thundermite</td>
                    <td>Venus</td>
                    <td>Division Runner-Up</td>
                </tr>
                <tr>
                    <td>U10 White</td>
                    <td>Thundermite</td>
                    <td>n/a</td>
                    <td> Pennant Cup</td>
                </tr>
                <tr>
                    <td>U10 White</td>
                    <td>Thundermite</td>
                    <td>n/a</td>
                    <td>League Cup North Runner-Up</td>
                </tr>
                <tr>
                    <td colspan="4" class="white_background"><span class="bold_blue_small">2002-2003 Season</span></td>
                </tr>
                <tr>
                    <th>Team</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Honour</th>
                </tr>
                <tr>
                    <td>U9</td>
                    <td>Thundermite</td>
                    <td>n/a</td>
                    <td>League Cup North Runner-Up</td>
                </tr>
                <tr>
                    <td>U9 Blue</td>
                    <td>Thundermite</td>
                    <td>Jupiter</td>
                    <td>Division Winner</td>
                </tr>
                <tr>
                    <td>U10</td>
                    <td>Thundermite</td>
                    <td>n/a</td>
                    <td>League Cup South Winner</td>
                </tr>
                <tr>
                    <td colspan="4" class="white_background"><span class="bold_blue_small">2001-2002 Season</span></td>
                </tr>
                <tr>
                    <th>Team</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Honour</th>
                </tr>
                <tr>
                    <td>U8 Blue</td>
                    <td>Thundermite</td>
                    <td>n/a</td>
                    <td>League Cup South Winner</td>
                </tr>
                <tr>
                    <td>U10 Blue</td>
                    <td>Thundermite</td>
                    <td>n/a</td>
                    <td>League Cup North Runner-Up</td>
                </tr>
                <tr>
                    <td>U11</td>
                    <td>Thundermite</td>
                    <td>A</td>
                    <td>Division Runner-Up</td>
                </tr>
                <tr>
                    <td colspan="4" class="white_background"><span class="bold_blue_small">2000-2001 Season</span></td>
                </tr>
                <tr>
                    <th>Team</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Honour</th>
                </tr>
                <tr>
                    <td>U10 White</td>
                    <td>Thundermite</td>
                    <td>Neptune</td>
                    <td>Division Runner-Up</td>
                </tr>
                <tr>
                    <td>U11</td>
                    <td>Thundermite</td>
                    <td>A</td>
                    <td>Division Runner-Up</td>
                </tr>
                <tr>
                    <td>U15</td>
                    <td>Thundermite</td>
                    <td>n/a</td>
                    <td>League Cup Runner-Up</td>
                </tr>
                <tr>
                    <td colspan="4" class="white_background"><span class="bold_blue_small">1999-2000 Season</span></td>
                </tr>
                <tr>
                    <th>Team</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Honour</th>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4" class="white_background"><span class="bold_blue_small">1998-1999 Season</span></td>
                </tr>
                <tr>
                    <th>Team</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Honour</th>
                </tr>
                <tr>
                    <td>U11</td>
                    <td>Thundermite</td>
                    <td>A</td>
                    <td>Division winner</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4" class="white_background"><span class="bold_blue_small">1997-1998 Season</span></td>
                </tr>
                <tr>
                    <th>Team</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Honour</th>
                </tr>
                <tr>
                    <td>U14</td>
                    <td>Thundermite</td>
                    <td>A</td>
                    <td>Division winner</td>
                </tr>
                <tr>
                    <td>
                        &nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                </tr>
                <tr>
                    <td colspan="4" class="white_background"><span class="bold_blue_small">1996-1997 Season</span></td>
                </tr>
                <tr>
                    <th>Team</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Honour</th>
                </tr>
                <tr>
                    <td>
                        &nbsp;</td>
                    <td>&nbsp;</td>

                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        &nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                </tr>
                <tr>
                    <td colspan="4" class="white_background"><span class="bold_blue_small">1995-1996 Season</span></td>
                </tr>
                <tr>
                    <th>Team</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Honour</th>
                </tr>
                <tr>
                    <td>U12</td>
                    <td>Thundermite</td>
                    <td>A</td>
                    <td>Division winner</td>
                </tr>
                <tr>
                    <td>
                        &nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4" class="white_background"><span class="bold_blue_small">1994-1995 Season</span></td>
                </tr>
                <tr>
                    <th>Team</th>
                    <th>League</th>
                    <th>Division</th>
                    <th>Honour</th>
                </tr>
                <tr>
                    <td>U11</td>
                    <td>Thundermite</td>
                    <td>A</td>
                    <td>Division winner</td>
                </tr>
                </table>

            </div>

        </div>
        <div class="borded" style="float:left;padding:10px;width:42%;">
            <span class="bold_blue">Club Achievements</span><br/><br/>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <th>Date</th>
                    <th>Achievement</th>
                </tr>
                <tr>
                    <td>June 2012</td>
                    <td>Derrick Pearson (Chairman) given club award for 20 Years Outstanding Contribution to Youth Football</td>
                </tr>
                <tr>
                    <td>Nov 2009</td>
                    <td>Forest Glade achieved FA Charter Standard Community Club status</td>
                </tr>
                <tr>
                    <td>July 2009</td>
                    <td>Essex F.A. Charter Standard Development Club of the Year 2009</td>
                </tr>
                <tr>
                    <td>July 2009</td>
                    <td>Ian Cornell (U14 coach) awarded Essex FA's Young Sports Volunteer of the Year</td>
                </tr>
                <tr>
                    <td>Apr 2006</td>
                    <td>Forest Glade achieved Essex Active Sports ClubSX Gold accreditation</td>
                </tr>
                <tr>
                    <td>Dec 2005</td>
                    <td>Forest Glade achieved renewal of FA Charter Standard Development Club status</td>
                </tr>
                <tr>
                    <td>May 2002</td>
                    <td>Forest Glade FC achieved FA Chartered Standard Development Club status</td>
                </tr>
                <tr>
                    <td>Summer 1997</td>
                    <td>Forest Glade Football Club moved to Barleylands' Farm site</td>
                </tr>
                <tr>
                    <td>Sept 1992</td>
                    <td>Forest Glade FC formed</td>
                </tr>

            </table>
        </div>
        </div>
    </div>
    <div id="footer"> &copy;2011/12 Forest Glade Football Club</div>
    </div>
</div>
</body>
</html>
