<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Forest Glade Football Club</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/960_16_3_3.css"/>
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/css/fgfc.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/team_menu.css"/>
    <script type='text/javascript' src='/script/jquery-1.4.2.min.js'></script>
    <script type='text/javascript' src='/script/fgfc.js'></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36613724-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
<div class="container_16">
    <div class="row" style="background-color: transparent;">
        <% if @redbacks %>
            <div id="redback-header-X"><img src="/images/RedBack-Header-Alternative.png" alt="banner"/></div>
        <% else %>
            <div id="header-X"><img src="/images/Header-Alternative.png" alt="banner"/></div>
        <% end %>
    </div>
    <div class="row" style="background-color: transparent;">
        <div id=fgfc_menu>
            <ul id="nav" style="margin-left:90px;">
                <li><a href="/">Home</a></li>
                <li><a href="">Documents <img src="/images/more-down-arrow.png" alt="more"/></a>
                    <ul>
                        <li><a href="javascript:largePopUp('/docs//FGFCClubConstitution.pdf')">Club Constitution</a>
                        </li>
                        <li><a href="javascript:largePopUp('/docs//FGFC Safeguarding.pdf')">Safegaurding Children</a>
                        </li>
                        <li><a href="javascript:largePopUp('/docs//FGFC Anti-Bullying.pdf')">Anti-Bullying</a></li>
                        <li><a href="javascript:largePopUp('/docs//FGFC Equality Policy.pdf')">Equality Policy</a></li>
                    </ul>
                </li>
                <li><a href="/pages/honours">Club Honours</a></li>
                <li><a href="/pages/find_us">Find Us</a></li>
                <li><a href="/pages/contacts">Contact Us</a></li>
                <li><a href="/pages/history">History</a></li>
            </ul>
        </div>
        <!--menu end-->
    </div>
    <div class="row">
        <div class="column grid_16">
            <div id="top_frame">
                <a href="http://www.theFG5s.co.uk"><img src="/images/fg5s-home-logo.png" alt="Forest Glade 5's click here for more information" title="Forest Glade 5's click here for more information" style="margin-left:14px;margin-right:13px;margin-bottom:10px;"/></a>
                <!--<img src="/images/fg5s-logo.png" alt="banner" />-->
                <!--<img src="/images/fg5s-logo-light.png" alt="banner"/>-->
                <img src="/images/WebHome5.png" alt="banner"/>
                <img src="/images/WebHome1.png" alt="banner"/>
                <!--<a href="http://www.theFG5s.co.uk" style="color: #5054ff;" title="Forest Glade 5's 2013 click here for more information">-->
                    <!--<div style="text-align:center;width:190px;height: 121px;display: inline-block;vertical-align: top;background-color: #B8B8B8;padding: 10px 5px;font-size: 22px;color: #000066;">-->
                        <!--<span style="font-size: 22px;">Forest Glade Fives</span><br/><span style="text-align: center">2013</span>-->
                        <!--<br/>Saturday 25th May &<br/>Sunday 26th May-->
                    <!--</div>-->
                <!--</a>-->
                <img src="/images/WebHome6.png" alt="banner"/>
                <img src="/images/WebHome4.png" alt="banner"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column grid_3">
            <div id="teams_menu">
                <span class="bold_blue_large">Teams<br/></span>
                <span class="bold_blue">Boys</span>
                <!--<a class="menu_item" href="/pages/u5"><span>&nbsp;</span>U5 Football Fun</a>-->
                <a class="sub_menu_header"><span>&nbsp;</span>Under 7</a>

                <div class="sub_menu">
                    <ul>
                        <li><a class="menu_item" href="/pages/u7lions"><span>&nbsp;</span>

                            <div>Lions</div>
                        </a></li>
                        <li><a class="menu_item" href="/pages/u7tigers"><span>&nbsp;</span>

                            <div>Tigers</div>
                        </a></li>
                        <li><a class="menu_item" href="/pages/u7leopards"><span>&nbsp;</span>

                            <div>Leopards</div>
                        </a></li>
                    </ul>
                </div>

                <a class="sub_menu_header"><span>&nbsp;</span>Under 8</a>

                <div class="sub_menu">
                    <ul>
                        <li><a class="menu_item" href="/pages/u8lions"><span>&nbsp;</span>

                            <div>Lions</div>
                        </a></li>
                        <li><a class="menu_item" href="/pages/u8tigers"><span>&nbsp;</span>

                            <div>Tigers</div>
                        </a></li>
                    </ul>
                </div>

                <a class="menu_item" href="/pages/u9lions"><span>&nbsp;</span>Under 9</a>

                <a class="sub_menu_header"><span>&nbsp;</span>Under 10</a>

                <div class="sub_menu">
                    <ul>
                        <li><a class="menu_item" href="/pages/u10lions"><span>&nbsp;</span>

                            <div>Lions</div>
                        </a></li>
                        <li><a class="menu_item" href="/pages/u10tigers"><span>&nbsp;</span>

                            <div>Tigers</div>
                        </a></li>
                        <li><a class="menu_item" href="/pages/u10leopards"><span>&nbsp;</span>

                            <div>Leopards</div>
                        </a></li>
                        <li><a class="menu_item" href="/pages/u10pumas"><span>&nbsp;</span>

                            <div>Pumas</div>
                        </a></li>
                    </ul>
                </div>
                <a class="sub_menu_header"><span>&nbsp;</span>Under 11</a>

                <div class="sub_menu">
                    <ul>
                        <li><a class="menu_item" href="/pages/u11blue"><span>&nbsp;</span>

                            <div>Blue</div>
                        </a></li>
                        <li><a class="menu_item" href="/pages/u11white"><span>&nbsp;</span>

                            <div>White</div>
                        </a></li>
                    </ul>
                </div>
                <a class="sub_menu_header"><span>&nbsp;</span>Under 12</a>

                <div class="sub_menu">
                    <ul>
                        <li><a class="menu_item" href="/pages/u12blue"><span>&nbsp;</span>

                            <div>Blue</div>
                        </a></li>
                        <li><a class="menu_item" href="/pages/u12white"><span>&nbsp;</span>

                            <div>White</div>
                        </a></li>
                        <li><a class="menu_item" href="/pages/u12red"><span>&nbsp;</span>

                            <div>Red</div>
                        </a></li>
                    </ul>
                </div>
                <a class="menu_item" href="/pages/u13blue"><span>&nbsp;</span>Under 13</a>
                <a class="sub_menu_header"><span>&nbsp;</span>Under 14</a>

                <div class="sub_menu">
                    <ul>
                        <li><a class="menu_item" href="/pages/u14blue"><span>&nbsp;</span>

                            <div>Blue</div>
                        </a></li>
                        <li><a class="menu_item" href="/pages/u14white"><span>&nbsp;</span>

                            <div>White</div>
                        </a></li>
                        <li><a class="menu_item" href="/pages/u14red"><span>&nbsp;</span>

                            <div>Red</div>
                        </a></li>
                    </ul>
                </div>
                <a class="sub_menu_header"><span>&nbsp;</span>Under 15</a>

                <div class="sub_menu">
                    <ul>
                        <li><a class="menu_item" href="/pages/u15blue"><span>&nbsp;</span>

                            <div>Blue</div>
                        </a></li>
                        <li><a class="menu_item" href="/pages/u15white"><span>&nbsp;</span>

                            <div>White</div>
                        </a></li>
                    </ul>
                </div>
                <a class="menu_item" href="/pages/u16white"><span>&nbsp;</span>Under 16</a>
                <a class="sub_menu_header"><span>&nbsp;</span>Under 18</a>

                <div class="sub_menu">
                    <ul>
                        <li><a class="menu_item" href="/pages/u18blue"><span>&nbsp;</span>

                            <div>Blue</div>
                        </a></li>
                        <li><a class="menu_item" href="/pages/u18white"><span>&nbsp;</span>

                            <div>White</div>
                        </a></li>
                    </ul>
                </div>
                <span class="bold_blue">Girls</span>
                <a class="menu_item" href="/pages/u12girls"><span>&nbsp;</span>

                    <div>U12</div>
                </a>
                <a class="menu_item" href="/pages/u14girls"><span>&nbsp;</span>

                    <div>U14</div>
                </a>

                <span class="bold_blue">Baseball</span>
                <a class="menu_item" href="/pages/redbacks"><span>&nbsp;</span>Bronco's</a>
                <a class="menu_item" href="/pages/redbacks-pony"><span>&nbsp;</span>Pony's</a>
            </div>

            <div style="text-align:center;">
                <a href="/pages/redbacks"><img style="margin-top:40px;" src="/images/fgfc_redbacks.png" alt=""/></a>
            </div>

        </div>

        <div class="column grid_13">
            <%= yield %>
        </div>

    </div>
    <div class="row" style="background-color: transparent;border: 0px;">
        <% if @redbacks %>
            <div id="redback_footer" class="column grid_16">&copy;2013/14 Forest Glade Football Club</div>
        <% else %>
            <div id="footer" class="column grid_16">&copy;2013/14 Forest Glade Football Club</div>
        <% end %>
    </div>
</div>
</body>
</html>