<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Forest Glade Football Club</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/960_16_3_3.css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/css/fgfc.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/team_menu.css" />
<script type='text/javascript' src='../script/jquery-1.4.2.min.js'></script>
<script type='text/javascript' src='../script/fgfc.js'></script>
</head>
<body>
<div class="container_16">
    <div class="row" style="background-color: transparent;">
        <div id="redback-header-X">
            <div id="Xslogan"><img src="../images/RedBack-Header-Alternative.png" alt="banner"/>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: transparent;border-radius: 0px;">
        <div id=fgfc_menu>
            <ul id="nav" style="margin-left:90px;">
            <li><a href="/">Home</a></li>
            <li><a href="">Documents <img src="../images/more-down-arrow.png" alt="more"/></a>
            <ul>
            <li><a href="javascript:largePopUp('/docs//FGFCClubConstitution.pdf')">Club Constitution</a>
            </li>
            <li><a href="javascript:largePopUp('/docs//FGFC Safeguarding.pdf')">Safegaurding Children</a>
            </li>
            <li><a href="javascript:largePopUp('/docs//FGFC Anti-Bullying.pdf')">Anti-Bullying</a></li>
            <li><a href="javascript:largePopUp('/docs//FGFC Equality Policy.pdf')">Equality Policy</a></li>
            </ul>
            </li>
            <li><a href="honours">Club Honours</a></li>
            <li><a href="find_us">Find Us</a></li>
            <li><a href="contacts">Contact Us</a></li>
            <li><a href="history">History</a></li>
            </ul>
        </div>
        <!--menu end-->
    </div>
    <div class="row">
        <div class="column grid_3">
            <div id="teams_menu">
            <span class="bold_blue_large">Teams<br/></span>
            <span class="bold_blue">Boys</span>
            <a class="menu_item" href="u7lions"><span>&nbsp;</span>Under 6</a>
                                    <a class="menu_item" href="u7lions"><span>&nbsp;</span>Under 6</a>                        <a class="sub_menu_header"><span>&nbsp;</span>Under 7</a>

            <div class="sub_menu">
                <ul>
                    <li><a class="menu_item" href="u8lions"><span>&nbsp;</span><div>Lions</div></a></li>
                    <li><a class="menu_item" href="u8tigers"><span>&nbsp;</span><div>Tigers</div></a></li>
                </ul>
            </div>

            <a class="sub_menu_header"><span>&nbsp;</span>Under 8</a>
            <div class="sub_menu">
                <ul>
                    <li><a class="menu_item" href="u9lions"><span>&nbsp;</span><div>Lions</div></a></li>
                    <li><a class="menu_item" href="u9tigers"><span>&nbsp;</span><div>Tigers</div></a></li>
                    <li><a class="menu_item" href="u9leopards"><span>&nbsp;</span><div>Leopards</div></a></li>
                </ul>
            </div>
            <a class="sub_menu_header"><span>&nbsp;</span>Under 9</a>
            <div class="sub_menu">
                <ul>
                    <li><a class="menu_item" href="u10lions"><span>&nbsp;</span><div>Lions</div></a></li>
                    <li><a class="menu_item" href="u10tigers"><span>&nbsp;</span><div>Tigers</div></a></li>
                    <li><a class="menu_item" href="u10leopards"><span>&nbsp;</span><div>Leopards</div></a></li>
                </ul>
            </div>
            <a class="sub_menu_header"><span>&nbsp;</span>Under 10</a>
            <div class="sub_menu">
                <ul>
                    <li><a class="menu_item" href="u11blue"><span>&nbsp;</span><div>Lions</div></a></li>
                    <li><a class="menu_item" href="u11white"><span>&nbsp;</span><div>Tigers</div></a></li>
                    <li><a class="menu_item" href="u11red"><span>&nbsp;</span><div>Leopards</div></a></li>
                </ul>
            </div>
            <a class="menu_item" href="u12blue"><span>&nbsp;</span>Under 11</a>
            <a class="sub_menu_header"><span>&nbsp;</span>Under 12</a>
            <div class="sub_menu">
                <ul>
                    <li><a class="menu_item" href="u13blue"><span>&nbsp;</span><div>Blue</div></a></li>
                    <li><a class="menu_item" href="u13white"><span>&nbsp;</span><div>White</div></a></li>
                    <li><a class="menu_item" href="u13red"><span>&nbsp;</span><div>Red</div></a></li>
                </ul>
            </div>
            <a class="sub_menu_header"><span>&nbsp;</span>Under 13</a>
            <div class="sub_menu">
                <ul>
                    <li><a class="menu_item" href="u14blue"><span>&nbsp;</span><div>Blue</div></a></li>
                    <li><a class="menu_item" href="u14white"><span>&nbsp;</span><div>Red</div></a></li>
                </ul>
            </div>
            <a class="menu_item" href="u15white"><span>&nbsp;</span>Under 14</a>
            <a class="sub_menu_header"><span>&nbsp;</span>Under 15</a>
            <div class="sub_menu">
                <ul>
                    <li><a class="menu_item" href="u16blue"><span>&nbsp;</span><div>Blue</div></a></li>
                    <li><a class="menu_item" href="u16white"><span>&nbsp;</span><div>White</div></a></li>
                    <li><a class="menu_item" href="u16red"><span>&nbsp;</span><div>Red</div></a></li>
                </ul>
            </div>
            <a class="sub_menu_header"><span>&nbsp;</span>Under 16</a>
            <div class="sub_menu">
                <ul>
                    <li><a class="menu_item" href="u16bluePAUL_DRESOU"><span>&nbsp;</span><div>Blue</div></a></li>
                    <li><a class="menu_item" href="u16white2012"><span>&nbsp;</span><div>White</div></a></li>
                </ul>
            </div>
            <a class="menu_item" href="u17blueSIMON_OLD"><span>&nbsp;</span>Under 17</a>
            <a class="sub_menu_header"><span>&nbsp;</span>Under 18</a>
            <div class="sub_menu">
                <ul>
                    <li><a class="menu_item" href="u18blue2012"><span>&nbsp;</span><div>Blue</div></a></li>
                    <li><a class="menu_item" href="u18white2012"><span>&nbsp;</span><div>White</div></a></li>
                </ul>
            </div>
            <span class="bold_blue">Girls</span>
            <a class="menu_item" href="u10girls"><span>&nbsp;</span><div>U9/U10</div></a>
            <a class="menu_item" href="u13girls"><span>&nbsp;</span><div>U12</div></a>

            <span class="bold_blue">Seniors</span>
            <a class="menu_item" href="seniors"><span>&nbsp;</span><div>Olympian</div></a>
            <a class="menu_item" href="ebhfl"><span>&nbsp;</span><div>EBHFL</div></a>

            <span class="bold_blue">Baseball</span>
                <a class="menu_item" href="redbacks"><span>&nbsp;</span>Bronco's</a>
                <a class="menu_item" href="redbacks-pony"><span>&nbsp;</span>Pony's</a>
            </div>
        </div>
        <div class="column grid_6">
                <div id="top" style="height:70px;">
                    <div style="padding-left:10px;">
                        <span class="bold_blue_large">Baseball<br/> At Forest Glade</span>
                    </div>
                </div>

            <div style="padding:10px;">
                <span class="bold_blue_small">
                    In association with Essex Redbacks Baseball Youth Academy, Forest Glade now host the Forest Glade Redbacks Bronco youth baseball team.
                    <br/><br/>
                    The Redbacks are members of the British Baseball Federation (BBF) Southern League<br/><br/>
                    The BBF Southern League consists of teams located in and around London and the South East of England with League games played on Saturday afternoons throughout the season.
                    <br/><br/>
                    If you are in school years 9, 10 or 11 as at 1st January 2012 you are the right age to play Pony baseball. We don’t care if you haven’t played baseball in the past – why not give it a go. Come along for free a couple of times and see if it works for you.
                    <br/><br/>
                    2012 will be our third season as a club and we have made great strides in the last 2 years attracting players from a wide geographical spread around Essex and East London. Many of those playing for the first time last season have found it easy to get the hang of the sport and have quickly become key members of the team.
                    <br/><br/>
                    It is up to you how much you want to get involved – some players just want to come to Wednesday evening  training but the majority of players also get involved in competitive baseball, played on Saturday afternoons from April to September.
<br/><br/>
We play against teams in London and around the M25. Last year we had visits from Dutch and German teams and we are in discussions about us going to Europe ourselves in 2012.
                    <br/><br/>
                    <span class="bold_blue">Outdoor Training Sessions</span>
                    <br/><br/>
                    For the coming season all outdoor training for all age groups, abilities and youth teams will be on Wednesday evenings from 6pm at Barleylands, Billericay.
                    <br/><br/>
                </span>
                <br/><br/>

            </div>

        </div>
        <div class="column grid_7">
            <div>
                <div style="height:50px;">
                    <div>
                        <span class="bold_blue_large">Team: Pony (13-16 year olds)</span>
                    </div>
                </div>

                <img class="team_picture" src="../images/teams/pony.png" alt=""/>
                <br/><br/>
                <span class="bold_blue_small">
                    If you are interested in playing baseball or want any further information please contact either<br/><br/>
                    Sean Briscomb on 07877 580474 or by email to sean@essexredbacks.com
                    <br/><br/>
                    or
                    <br/><br/>
                    Youth Officer Neil Hall on 07974 157277 or by email to neil@essexredbacks.com
                    <br/><br/>
                    For more information on Essex Redbacks please click on the icon below...
                </span>
                <br/><br/>
                <div>
                    <a href="javascript:largePopUp('http://www.essexredbacks.com')"><img src="../images/essex-redbacks-link.png" alt="Essex Redbacks" title="Essex Redbacks"/></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="border-radius: 0px;margin-top: 0px;padding-top: 0px;">
  <div id="redback_footer">&copy;2011/12 Forest Glade Football Club</div>
</div>
</div>
</body></html>