<div class="column grid_6">
    <div id="top" style="height:70px;">
        <div style="padding-left:10px;">
            <span class="bold_blue_large">Baseball<br/> At Forest Glade</span>
        </div>
    </div>

    <div style="padding:10px;">
                <span class="bold_blue_small">
                    In association with Essex Redbacks Baseball Youth Academy, Forest Glade now host the Forest Glade Redbacks Bronco youth baseball team.
                    <br/><br/>
                    The Redbacks are members of the British Baseball Federation (BBF) Southern League<br/><br/>
                    The BBF Southern League consists of teams located in and around London and the South East of England with League games played on Saturday afternoons throughout the season.
                    <br/><br/>
                    Forest Glade have the only purpose built diamond for U13 baseball in East London, Essex and East Anglia.
                    <br/><br/>
                    <span class="bold_blue">Outdoor Training Sessions</span>
                    <br/><br/>
                    For the coming season all outdoor training for all age groups, abilities and youth teams will be on Wednesday evenings from 6pm at Barleylands, Billericay.
                    <br/><br/>
                </span>
        <br/><br/>

    </div>

</div>
<div class="column grid_7">
    <div>
        <div style="height:50px;">
            <div>
                <span class="bold_blue_large">Team: Bronco (10-13 year olds)</span>
            </div>
        </div>

        <img class="team_picture" src="../images/redbacks.png" alt=""/>
        <br/><br/>
                <span class="bold_blue_small">
                    If you are interested in playing baseball or want any further information please contact either<br/><br/>
                    Sean Briscomb on 07877 580474 or by email to sean@essexredbacks.com
                    <br/><br/>
                    or
                    <br/><br/>
                    Youth Officer Neil Hall on 07974 157277 or by email to neil@essexredbacks.com
                    <br/><br/>
                    For more information on Essex Redbacks please click on the icon below...
                </span>
        <br/><br/>

        <div>
            <a href="javascript:largePopUp('http://www.essexredbacks.com')"><img src="../images/essex-redbacks-link.png" alt="Essex Redbacks" title="Essex Redbacks"/></a>
        </div>
    </div>
</div>
