<div class="column grid_3">
    <!--menu here-->
</div>
<div class="column grid_6">
    <div style="padding-left:5px;">
        <div id="top" style="height:50px;margin-top: 10px;">
            <span class="bold_blue_large">Team U11 'Blue'</span>
        </div>
        <div>
            <span class="bold_blue">Southend & District Junior Sunday League<br/>Division: A</span>
            <br/><br/>
        </div>
        <div id="team-mngt">
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <th style="text-align:right;">Manager:</th>
                    <td width="150px">Mike Burchett</td>
                    <td>01268 411039</td>
                </tr>
                <tr>
                    <th style="text-align:right;">Coach:</th>
                    <td>Terry Fuller</td>
                    <td>01268 418401</td>
                </tr>
                <tr>
                    <th style="text-align:right;"></th>
                    <td>&nbsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <th style="text-align:right;">Squad:</th>
                    <td colspan="2">Sam Baldwin</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Harry Barker</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Lucas Bennett</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Jason Burchett</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Tony Fuller</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Perry Gatward</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Ritho Githu</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Thomas Morgan</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Henry Paul</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Josh Ward</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
            </table>
        </div>
    </div>
    <div>&nbsp;</div>
    <div style="padding-top:5px;padding-bottom:20px;">
        <span class="bold_blue">League Table</span>

        <div id="lrep808905416" style="width: 350px;">Data loading....<a href="http://full-time.thefa.com/Index.do?divisionseason=321252498">click here for U11 Division A</a><br/><br/><a href="http://www.thefa.com/FULL-TIME">FULL-TIME Home</a></div>
        <script language="javascript" type="text/javascript">
        var lrcode = '808905416'
        </script>
        <script language="Javascript" type="text/javascript" src="http://full-time.thefa.com/client/api/cs1.js"></script>
    </div>
</div>
<div class="column grid_7">
    <div id="code_conduct">
        <a style="float:right;" href="javascript:popUp('playersConduct')">Players Code of Conduct</a>
        <a style="float:right;" href="javascript:popUp('managersConduct')">Managers Code of Conduct</a>
    </div>
    <div>
        <img class="team_picture" src="../images/teams/lions2002.png" style="height:248px;" alt=""/>
    </div>
    <div class="bold_blue">
        <br/>The Forest Glade U11 Blue team would like to thank T&R Interiors and JB Domestics for the sponsorship of
        their kit and jackets.
    </div>
    <div>
        <img class="team_picture" src="../images/teams/lions2002-2.png" style="height:228px;" alt=""/>
    </div>
    &nbsp;

</div>
