<div class="column grid_3">
    <!--menu here-->
</div>
<div class="column grid_6">
    <div style="padding-left:5px;">
        <div id="top" style="height:50px;margin-top: 10px;">
            <span class="bold_blue_large">Team U11 'Blue'</span>
        </div>
        <div>
            <span class="bold_blue">Southend & District Junior Sunday League<br/>Division: Premier - Presidents Division</span>
            <br/><br/>
        </div>
        <div id="team-mngt">
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <th style="text-align:right;">Manager:</th>
                    <td width="140px">Richard Jeffery</td>
                    <td>01268 415651</td>
                </tr>
                <tr>
                    <th style="text-align:right;">Coach:</th>
                    <td>Darren Crowley</td>
                    <td>01268 410995</td>
                </tr>
                <tr>
                    <th style="text-align:right;"></th>
                    <td>&nbsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <th style="text-align:right;">Squad:</th>
                    <td colspan="2">Samuel Blackholly</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Callum Cox</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">James Crowley</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Nicolas Harrington</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Jack Hynd</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Teddy Jeffery</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Toby Peters</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Adam Smith</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Callum Taylor</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="column grid_7">
    <div id="code_conduct">
        <a style="float:right;" href="javascript:popUp('playersConduct')">Players Code of Conduct</a>
        <a style="float:right;" href="javascript:popUp('managersConduct')">Managers Code of Conduct</a>
    </div>
    <div>
        <img class="team_picture" src="../images/teams/no_team_picture.png" alt=""/>
    </div>

    <div style="padding-top:20px;padding-bottom:20px;">
        <span class="bold_blue">League Table</span>

        <div id="lrep821276766" style="border:solid 1px blue;width: 350px;">Data
            loading....<a href="http://fulltime.thefa.com/Index.do?divisionseason=145858385">click here for U14 Division
            B</a><br/><br/><a href="http://thefa.com/FULL-TIME">FULL-TIME Home</a></div>
        <script language="javascript" type="text/javascript">
            var lrcode = '821276766'
        </script>
        <script language="Javascript" type="text/javascript" src="http://fulltime.thefa.com/client/api/cs1.js"></script>
    </div>
</div>
