<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Forest Glade Football Club</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/960_16_3_3.css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/css/fgfc.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/team_menu.css" />
<script type='text/javascript' src='../script/jquery-1.4.2.min.js'></script>
<script type='text/javascript' src='../script/fgfc.js'></script>
</head>
<body>
<div class="container_16">
<div class="row" style="background-color: transparent;">
    <div id="header-X">
        <div id="Xslogan"><img src="../images/Header-Alternative.png" alt="banner"/>
        </div>
    </div>
</div>
<div class="row" style="background-color: transparent;border-radius: 0px;">
    <div id=fgfc_menu>
        <ul id="nav" style="margin-left:90px;">
        <li><a href="/">Home</a></li>
        <li><a href="">Documents <img src="../images/more-down-arrow.png" alt="more"/></a>
        <ul>
        <li><a href="javascript:largePopUp('/docs//FGFCClubConstitution.pdf')">Club Constitution</a>
        </li>
        <li><a href="javascript:largePopUp('/docs//FGFC Safeguarding.pdf')">Safegaurding Children</a>
        </li>
        <li><a href="javascript:largePopUp('/docs//FGFC Anti-Bullying.pdf')">Anti-Bullying</a></li>
        <li><a href="javascript:largePopUp('/docs//FGFC Equality Policy.pdf')">Equality Policy</a></li>
        </ul>
        </li>
        <li><a href="honours.html">Club Honours</a></li>
        <li><a href="find_us.html">Find Us</a></li>
        <li><a href="contacts.html">Contact Us</a></li>
        <li><a href="history.html">History</a></li>
        </ul>
    </div>
    <!--menu end-->
</div>

    <div class="row">
        <div class="column grid_3">
            <!--menu here-->
        </div>
        <div class="column grid_6">
            <div style="padding-left:5px;">
                <div id="top" style="height:50px;margin-top: 10px;">
                    <span class="bold_blue_large">Team U13 'Blue'</span>
                </div>
                <div>
                    <span class="bold_blue">Southend & District Junior Sunday League<br/>Division: Premier</span>
                    <br/><br/>
                </div>
                <div id="team-mngt">
                    <table cellspacing="0" cellpadding="0">
                        <tr>
                            <th style="text-align:right;">Manager:</th>
                            <td width="150px">Andy Cox</td>
                            <td>07956 568799</td>
                        </tr>
                        <tr>
                            <th style="text-align:right;">Coach:</th>
                            <td>Darren Crowley</td>
                            <td>01268 410995</td>
                        </tr>
                        <tr>
                            <th style="text-align:right;"></th>
                            <td>&nbsp;</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2">Elliot Cox</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2">Samuel Crowley</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2">Harry Doyle</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2">Joshua Hales</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2">George Hills</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2">Kieran Hones</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2">Tom Jackson</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2">Billy Lewis</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2">Billy Markham</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2">George Unwin</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2">Jack Unwin</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="column grid_7">
            <div id="code_conduct">
                <a href="javascript:popUp('playersConduct.html')">Players Code of Conduct</a>
                <a style="float:right;" href="javascript:popUp('managersConduct.html')">Managers Code of Conduct</a>
            </div>
            <div>
                <img class="team_picture" src="../images/teams/no_team_picture.png" alt=""/>
            </div>

            <div style="padding-top:20px;padding-bottom:20px;">
                <span class="bold_blue">League Table</span>
                <div id="lrep63104606" style="border:solid 1px blue;width: 350px;">Data loading....<a href="http://fulltime.thefa.com/Index.do?divisionseason=722410098">click here for U12  Division Premier</a><br/><br/><a href="http://thefa.com/FULL-TIME">FULL-TIME Home</a></div>
                <script language="javascript" type="text/javascript">
                var lrcode = '63104606'
                </script>
                <script language="Javascript" type="text/javascript" src="http://fulltime.thefa.com/client/api/cs1.js"></script>
            </div>
        </div>
    </div>
    <div class="row" style="border-radius: 0px;margin-top: 0px;padding-top: 0px;">
      <div id="footer">&copy;2011/12 Forest Glade Football Club</div>
    </div>
</div>
</body></html>