<div class="column grid_3">
    <!--menu here -->
</div>
<div class="column grid_6">
    <div style="padding-left:5px;">
        <div id="top" style="height:50px;margin-top: 10px;">
            <span class="bold_blue_large">Team U13 Girls</span>
        </div>
        <div>
            <span class="bold_blue">Essex County Girls League<br/>West Essex<br/>Division: London</span>
            <br/><br/>
        </div>
        <div id="team-mngt">
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <th style="text-align:right;">Manager:</th>
                    <td width="150px">Darren Chaplin</td>
                    <td>01268 421836</td>
                </tr>
                <tr>
                    <th style="text-align:right;">Coach:</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th style="text-align:right;"></th>
                    <td>&nbsp;</td>
                    <td></td>
                </tr>
                <TR>
                    <TH>
                        <P ALIGN=RIGHT>Squad:</P>
                    </TH>
                    <TD COLSPAN=2>
                        Adesewa Adedoja
                    </TD>
                </TR>
                <TR>
                    <TD></TD>
                    <TD COLSPAN=2>
                        Charlotte Anderson
                    </TD>
                </TR>
                <TR>
                    <TD></TD>
                    <TD COLSPAN=2>
                        Lucie Baker
                    </TD>
                </TR>
                <TR>
                    <TD></TD>
                    <TD COLSPAN=2>
                        Amy Benstead
                    </TD>
                </TR>
                <TR>
                    <TD></TD>
                    <TD COLSPAN=2>
                        Elizabeth Bird
                    </TD>
                </TR>
                <TR>
                    <TD></TD>
                    <TD COLSPAN=2>
                        Lauren Cartwright
                    </TD>
                </TR>
                <TR>
                    <TD></TD>
                    <TD COLSPAN=2>
                        Annabelle Crease
                    </TD>
                </TR>
                <TR>
                    <TD></TD>
                    <TD COLSPAN=2>
                        Casey JohnFinn
                    </TD>
                </TR>
                <TR>
                    <TD></TD>
                    <TD COLSPAN=2>
                        Elena Reiss
                    </TD>
                </TR>
                <TR>
                    <TD></TD>
                    <TD COLSPAN=2>
                        Lauren Robbins
                    </TD>
                </TR>
                <TR>
                    <TD></TD>
                    <TD COLSPAN=2>
                        Derrin Tiller
                    </TD>
                </TR>
                <TR>
                    <TD></TD>
                    <TD COLSPAN=2>
                        Francesca Warrior
                    </TD>
                </TR>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>

            </table>
        </div>
    </div>
</div>
<div class="column grid_7">
    <div id="code_conduct">
        <a style="float:right;" href="javascript:popUp('playersConduct')">Players Code of Conduct</a>
        <a style="float:right;" href="javascript:popUp('managersConduct')">Managers Code of Conduct</a>
    </div>
    <div>
        <img class="team_picture" src="../images/teams/u12girls.png" alt=""/>
    </div>
    <div style="padding-top:20px;padding-bottom:20px;">
        <span class="bold_blue">League Table</span><br/><br/>

        <div><a href="javascript:popUp('http://www.ecgfl.co.uk/Divisions/index?div=7383&age=12')" style="color:blue;">click
            here...</a></div>
    </div>
</div>
