<div class="column grid_3">
    <!--menu here-->
</div>
<div class="column grid_6">
    <div style="padding-left:5px;">
        <div id="top" style="height:50px;margin-top: 10px;">
            <span class="bold_blue_large">Team U14 'Blue'</span>
        </div>
        <div>
            <span class="bold_blue">Southend & District Junior Sunday League<br/>Division: Premier</span>
            <br/><br/>
        </div>
        <div id="team-mngt">
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <th style="text-align:right;">Manager:</th>
                    <td width="150px">Lee Ashley</td>
                    <td>01277 815090</td>
                </tr>
                <tr>
                    <th style="text-align:right;">Coach:</th>
                    <td>Martin Walsh</td>
                    <td>01268 475484</td>
                </tr>
                <tr>
                    <th style="text-align:right;"></th>
                    <td>&nbsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <th style="text-align:right;">Squad:</th>
                    <td colspan="2">Adam Cole</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Ben Ewin</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Ben Smart</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Charlie Robinson</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Daniel Rugg</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Daniel Walsh</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Jay Taylor</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Joe Clarke</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Jordan Bloss</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Kai Walton</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Lewis Judge</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Matthew Ashley</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Max Cooper</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2">Oliver Frost</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="column grid_7">
    <div id="code_conduct">
        <a style="float:right;" href="javascript:popUp('playersConduct')">Players Code of Conduct</a>
        <a style="float:right;" href="javascript:popUp('managersConduct')">Managers Code of Conduct</a>
    </div>
    <div>
        <img class="team_picture" src="../images/teams/u13blue.png" alt=""/>
    </div>

    <div style="padding-top:20px;padding-bottom:20px;">
        <span class="bold_blue">League Table</span>

        <div id="lrep957899456" style="border:solid 1px blue;width: 350px;">Data
            loading....<a href="http://fulltime.thefa.com/Index.do?divisionseason=541957581">click here for U13 Division
            Premier</a><br/><br/><a href="http://thefa.com/FULL-TIME">FULL-TIME Home</a></div>
        <script language="javascript" type="text/javascript">
            var lrcode = '957899456'
        </script>
        <script language="Javascript" type="text/javascript" src="http://fulltime.thefa.com/client/api/cs1.js"></script>
    </div>
</div>
