<div class="column grid_3">
    <!--menu here-->
</div>
<div class="column grid_6">
    <div style="padding-left:5px;margin-bottom: 20px;">
        <div id="top" style="height:50px;margin-top: 10px;">
            <span class="bold_blue_large">Team U15 'White'</span>
        </div>
        <div>
            <span class="bold_blue">Southend & District Junior Sunday League<br/>Division: B</span>
            <br/><br/>
        </div>
        <div id="team-mngt">
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <th style="text-align:right;">Manager:</th>
                    <td width="150px">Jonathan Howe</td>
                    <td>01277 222086</td>
                </tr>
                <tr>
                    <th style="text-align:right;">Coach:</th>
                    <td>Stephen Wolfendale</td>
                    <td>01268 545380</td>
                </tr>
                <tr>
                    <th style="text-align:right;"></th>
                    <td>&nbsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <th style="text-align:right;">Squad:</th>
                    <td colspan="2"> Daniel Atkins</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"> James Barclay</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"> George Chapple</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"> Lewis Evans</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"> Liam Gutteridge</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"> Liam Harms</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"> Jacob Howe</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"> Edward Jones</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"> Finaly Munro</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"> Max Rattenbury</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"> Billy Thorn</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"> Owen Wadsworth-Hill</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"> Reece White</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"> Luke Whitelock</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"> Daniel Wolfendale</td>
                </tr>

            </table>
        </div>
    </div>
    <div>&nbsp;</div>
    <div style="padding-top:5px;padding-bottom:20px;">
        <span class="bold_blue">League Table</span>

        <div id="lrep610207995" style="width: 350px;">Data loading....<a href="http://full-time.thefa.com/Index.do?divisionseason=545986701">click here for U15 Division B</a><br/><br/><a href="http://www.thefa.com/FULL-TIME">FULL-TIME Home</a></div>
        <script language="javascript" type="text/javascript">
        var lrcode = '610207995'
        </script>
        <script language="Javascript" type="text/javascript" src="http://full-time.thefa.com/client/api/cs1.js"></script>    </div>

</div>
<div class="column grid_7">
    <div id="code_conduct">
        <a style="float:right;" href="javascript:popUp('playersConduct')">Players Code of Conduct</a>
        <a style="float:right;" href="javascript:popUp('managersConduct')">Managers Code of Conduct</a>
    </div>
    <div>
        <img class="team_picture" src="../images/teams/red1998.png" alt=""/>
    </div>
    <div class="bold_blue" style="margin-top: 30px;">
        <br/>The Forest Glade U15 White team would like to thank A.W Alden & Son for the sponsorship of their kit.
    </div>
    <div style="margin-top: 30px;">
        <img class="team_picture" src="../images/teams/red1998-2.png" style="width:400px;height:228px;" alt=""/>
    </div>
    &nbsp;

</div>
