<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Forest Glade Football Club</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="/css/960_16_3_3.css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/css/fgfc.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/css/team_menu.css" />
<script type='text/javascript' src='../script/jquery-1.4.2.min.js'></script>
<script type='text/javascript' src='../script/fgfc.js'></script>
</head>
<body>
<div class="container_16">
<div class="row" style="background-color: transparent;">
    <div id="header-X">
        <div id="Xslogan"><img src="../images/Header-Alternative.png" alt="banner"/>
        </div>
    </div>
</div>
<div class="row" style="background-color: transparent;border-radius: 0px;">
    <div id=fgfc_menu>
        <ul id="nav" style="margin-left:90px;">
        <li><a href="/">Home</a></li>
        <li><a href="">Documents <img src="../images/more-down-arrow.png" alt="more"/></a>
        <ul>
        <li><a href="javascript:largePopUp('/docs//FGFCClubConstitution.pdf')">Club Constitution</a>
        </li>
        <li><a href="javascript:largePopUp('/docs//FGFC Safeguarding.pdf')">Safegaurding Children</a>
        </li>
        <li><a href="javascript:largePopUp('/docs//FGFC Anti-Bullying.pdf')">Anti-Bullying</a></li>
        <li><a href="javascript:largePopUp('/docs//FGFC Equality Policy.pdf')">Equality Policy</a></li>
        </ul>
        </li>
        <li><a href="honours.html">Club Honours</a></li>
        <li><a href="find_us.html">Find Us</a></li>
        <li><a href="contacts.html">Contact Us</a></li>
        <li><a href="history.html">History</a></li>
        </ul>
    </div>
    <!--menu end-->
</div>

    <div class="row">
        <div class="column grid_3">
            <!--menu here-->
        </div>
        <div class="column grid_6">
            <div style="padding-left:5px;">
                <div id="top" style="height:50px;margin-top: 10px;">
                    <span class="bold_blue_large">Under 5 Football Fun</span>
                </div>
                <div id="team-mngt">
                    <table cellspacing="0" cellpadding="0">
                        <tr>
                            <th style="text-align:right;margin-right: 10px;">Manager:</th>
                            <td width="150px">Stuart Daltrey</td>
                            <td>01268 280854</td>
                        </tr>
                        <tr>
                            <th style="text-align:right;margin-right: 10px;"></th>
                            <td width="150px"></td>
                            <td>07958 453916</td>
                        </tr>
                        <tr>
                            <th style="text-align:right;">Coach:</th>
                            <td>Dan Taylor</td>
                            <td>01268 545855</td>
                        </tr>
                        <tr>
                            <th style="text-align:right;"></th>
                            <td></td>
                            <td>07791 271890</td>
                        </tr>
                        <tr>
                            <th style="text-align:right;"></th>
                            <td>&nbsp;</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div>
                    <span class="bold_blue">
                        <!--The U6's 2011/12 have been launched.<br/><br/>-->
                        Interested in playing football and in<br/> school year reception.<br/><br/>
                        Come along to Forest Glade and enjoy a fun but structured training session
                        <br/><br/>
                        Training sessions every Saturday morning.
                        <br/><br/>
                        <!--For further information contact<br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Richard Jeffery on 01268 415651.-->
                    </span>
                    <br/><br/>
                </div>

            </div>
        </div>
        <div class="column grid_7">
            <div id="code_conduct">
                <a href="javascript:popUp('playersConduct.html')">Players Code of Conduct</a>
                <a style="float:right;" href="javascript:popUp('managersConduct.html')">Managers Code of Conduct</a>
            </div>
            <div>
                <img class="team_picture" src="../images/teams/u6.png" alt=""/>
            </div>

            <div style="padding-top:20px;padding-bottom:20px;">
            </div>
        </div>
    </div>
    <div class="row" style="border-radius: 0px;margin-top: 0px;padding-top: 0px;">
      <div id="footer">&copy;2012/13 Forest Glade Football Club</div>
    </div>
</div>
</body></html>