<div class="column grid_3">
    <!--menu here-->
</div>
<div class="column grid_6">
    <div style="padding-left:5px;">
        <div id="top" style="height:50px;margin-top: 10px;">
            <span class="bold_blue_large">Team U8 'Tigers'</span>
        </div>
        <div>
            <span class="bold_blue">Non League<br/>Group: n/a</span>
            <br/><br/>
        </div>
        <div id="team-mngt">
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <th style="text-align:right;">Manager:</th>
                    <td width="150px">Dave Reid</td>
                    <td>07515 862261</td>
                </tr>
                <tr>
                    <th style="text-align:right;">Coach:</th>
                    <td>David Vokes</td>
                    <td>07711 677131</td>
                </tr>
                <tr>
                    <th style="text-align:right;"></th>
                    <td>&nbsp;</td>
                    <td></td>
                </tr>
                <tr>
                    <th style="text-align:right;">Squad:</th>
                    <td colspan="2">to follow...</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="2"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="column grid_7">
    <div id="code_conduct">
        <a href="javascript:popUp('playersConduct')">Players Code of Conduct</a>
        <a style="float:right;" href="javascript:popUp('managersConduct')">Managers Code of Conduct</a>
    </div>
    <div>
        <img class="team_picture" src="../images/teams/no_team_picture.png" alt=""/>
    </div>

    <div class="mini_fixtures">
                    <span class="bold_blue">
                        <!--<a style="color:#000066;"-->
                           <!--href="javascript:largePopUp('http://www.ourkidssports.com/Teams/profile/id/15685/fixtures/division')"-->
                           <!--title="click here for fixtures">:-: Fixtures :-:</a><br/><br/>-->
                    </span>
    </div>
</div>
